/* portfolio CSS file 
 *
 *
 * */

/* reset */
* {
  margin: 0;
  padding: 0;
}

/* troubleshooting class */
.el {
  border: 2px solid red;
}

/* Clean up Nav Bar */
nav ul {
  list-style-type: none;
  font-size: 20pt;
}

nav li {
  display: inline;
}

/* layout and design */

body {
  background-color: #6E1D4B;
  color: white;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  margin: 0 auto;
  max-width: 80vw;
}

header a {
  color: white;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

header, footer {
  background: #0b1120;
}

footer {
  display: block;
}